{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/estilosInicio.css' %}">
</head>
<body>
  <main class="contenido">
    <div class="login-card">
        <div class="imagen">
            <img src="{% static 'images/RegistrAPP.png' %}" alt="RegistrAPP" class="centrar-imagen"/>
        </div>
        <form method="POST" class="formulario">
            {% csrf_token %}
            <input aria-label="Medium input" class="medium-input" placeholder="Usuario" name="nombreUsuario" id="nombre">
            <br>
            <input aria-label="Medium input" class="medium-input" placeholder="Contraseña" type="password" name="contrasena" id="contrasena">
            <div class="ingreso">
                <button type="submit" class="warning-button">INGRESAR
                    <i class="arrow-forward-outline"></i>
                </button>
                <button type="button" class="register-button" onclick="location.href='{% url 'registro' %}'">REGISTRAR
                    <i class="arrow-forward-outline"></i>
                </button>
            </div>
        </form>
        <a href="{% url 'olvide-contrasena' %}" id="olvide">Olvidé mi contraseña</a>
    </div>
</main>
</body>
</html>